#!/bin/sh

echo ''
echo '     ____                   __  _____    ____ _____'
echo '    / __ \____  ___  ____  / / / /   |  / __ )__  /'
echo '   / / / / __ \/ _ \/ __ \/ /_/ / /| | / __  |/_ < '
echo '  / /_/ / /_/ /  __/ / / / __  / ___ |/ /_/ /__/ / '
echo '  \____/ .___/\___/_/ /_/_/ /_/_/  |_/_____/____/  '
echo '      /_/                                          '
echo ''
echo '         ------ WELCOME TO {{base_hostname}} ------'
echo ''
echo '  -------------------------------------------------'