#!/bin/sh

echo "
 ________  ________  _______   ________   ___  ___  ________  ________  ________     
|\   __  \|\   __  \|\  ___ \ |\   ___  \|\  \|\  \|\   __  \|\   __  \|\_____  \    
\ \  \|\  \ \  \|\  \ \   __/|\ \  \\ \  \ \  \\\  \ \  \|\  \ \  \|\ /\|____|\ /_   
 \ \  \\\  \ \   ____\ \  \_|/_\ \  \\ \  \ \   __  \ \   __  \ \   __  \    \|\  \  
  \ \  \\\  \ \  \___|\ \  \_|\ \ \  \\ \  \ \  \ \  \ \  \ \  \ \  \|\  \  __\_\  \ 
   \ \_______\ \__\    \ \_______\ \__\\ \__\ \__\ \__\ \__\ \__\ \_______\|\_______\
    \|_______|\|__|     \|_______|\|__| \|__|\|__|\|__|\|__|\|__|\|_______|\|_______|
                                                                                     
                                                                                     

                    ------ WELCOME TO {{base_hostname}} ------

                --------------------------------------------------"